@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,600);.navbar.navbar-light.navbar-light.bg-light {
  background-color: white !important; }
  .navbar.navbar-light.navbar-light.bg-light .navbar-brand {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 50px; }
  .navbar.navbar-light.navbar-light.bg-light .nav-item .nav-link {
    color: black;
    padding-left: 15px;
    padding-right: 15px; }
    .navbar.navbar-light.navbar-light.bg-light .nav-item .nav-link:hover {
      color: #265DF1; }
.card {
  border-radius: 0px;
  border: 0px;
  background-color: white; }
  .card input, .card button, .card div.alert {
    border-radius: 0px; }
  .card button.btn {
    border-radius: 100px; }
body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white; }
  body .app.cointainer-fluid {
    padding: 0px;
    margin: 0px; }
  body nav .navbar-toggler {
    outline: none;
    border: none;
    cursor: pointer; }
  body a {
    outline: none; }
    body a:hover {
      text-decoration: none; }
  body .row {
    margin: 0px 0px; }
  body .col, body .col-1, body .col-10, body .col-11, body .col-12, body .col-2, body .col-3, body .col-4, body .col-5, body .col-6, body .col-7, body .col-8, body .col-9, body .col-auto, body .col-lg, body .col-lg-1, body .col-lg-10, body .col-lg-11, body .col-lg-12, body .col-lg-2, body .col-lg-3, body .col-lg-4, body .col-lg-5, body .col-lg-6, body .col-lg-7, body .col-lg-8, body .col-lg-9, body .col-lg-auto, body .col-md, body .col-md-1, body .col-md-10, body .col-md-11, body .col-md-12, body .col-md-2, body .col-md-3, body .col-md-4, body .col-md-5, body .col-md-6, body .col-md-7, body .col-md-8, body .col-md-9, body .col-md-auto, body .col-sm, body .col-sm-1, body .col-sm-10, body .col-sm-11, body .col-sm-12, body .col-sm-2, body .col-sm-3, body .col-sm-4, body .col-sm-5, body .col-sm-6, body .col-sm-7, body .col-sm-8, body .col-sm-9, body .col-sm-auto, body .col-xl, body .col-xl-1, body .col-xl-10, body .col-xl-11, body .col-xl-12, body .col-xl-2, body .col-xl-3, body .col-xl-4, body .col-xl-5, body .col-xl-6, body .col-xl-7, body .col-xl-8, body .col-xl-9, body .col-xl-auto {
    padding: 0px 0px; }
  body button.btn {
    cursor: pointer; }
    body button.btn.btn-primary {
      background-color: #2B62ED;
      transition: 0s all; }
      body button.btn.btn-primary:hover {
        background-color: #1249d3;
        transition: 0s all; }
  body p.hint {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: 0.3;
    text-align: center;
    margin: auto;
    margin-top: 35vh; }
  body .form-control:disabled, body .form-control[readonly] {
    background-color: #f8f9fa; }
  body .form-group label {
    font-weight: 600; }
